
body{
margin:0px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0s;
}

.nav-link-wrapper a {
  color: #8a8a8a; 
  text-decoration: none;
  transition: color 0s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* -------- About me Section ----------*/

.about-the-chef{
    width:100%;
    padding-top: 35px;
    padding-bottom:70px;
}

.about-the-chef:after{
    content:'';
    display: block;
    clear: both;
}

.about-the-chef h2{
    color: black;
    text-align: center;
    text-transform: uppercase;
    justify-content: space-between;
    position: relative;
    
}

.about-the-chef h2:after{
    content: '';
    position: absolute;
    width: 80px;
    height:2px;
    margin-left: -40px;
    left:50%;
    bottom: -10px;
    background-color:gray;
    
}
.about-the-chef .col-left, .about-the-chef .col-right{
    width:40%;
    float:left;
    padding-top: 5%;
 
}

.about-the-chef .col-left{
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}
.about-the-chef .col-left img{
    max-width: 100%;
}

/*------------My Businesses Section-----------*/

.my-businesses{
    background-color: #e2e2e2;
    padding-top:70px;
    padding-bottom:70px;
    text-align: center;
}

.my-businesses h2{
    text-transform: uppercase;
    position: relative;
}

.my-businesses h2:after{
    content: '';
    position: absolute;
    width: 80px;
    height:2px;
    margin-left: -40px;
    left:50%;
    bottom: -10px;
    background-color:gray;
}

.my-businesses:after{
    content:'';
    display: block;
    clear:both;
        
}

.my-businesses .b-left, .b-center , .b-right{
    width:    33.333333333%;
    display: inline-block;
    float:left;
   
}

.my-businesses .b-left img{
    max-width: 50%;
}

.my-businesses .b-center img{
    max-width: 50%;
}

.my-businesses .b-right img{
    max-width: 50%;
}


/*----------Home Page Section-----------*/

.home-page{
    padding-top:10px;
    padding-bottom:90px;
    text-align: center;
}

.home-page h2{
    text-transform: uppercase;
    position: relative;
}

.home-page h2:after{
    content: '';
    position: absolute;
    width: 80px;
    height:2px;
    margin-left: -40px;
    left:50%;
    bottom: -10px;
    background-color:gray;
   
}

.home-page img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    max-height: 40%;
}

/*----------Recipes Section-----------*/

.recipes{
    padding-top:10px;
    padding-bottom:90px;
    text-align: center;
}

.recipes h2{
    text-transform: uppercase;
    position: relative;
}

.recipes h2:after{
    content: '';
    position: absolute;
    width: 80px;
    height:2px;
    margin-left: -40px;
    left:50%;
    bottom: -10px;
    background-color:gray;
}

.recipes{
    margin: 10px 50px;
}

.recipes img{
    transition: 1s;
    padding: 15px;
    width:300px;
}

.recipes img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

/*----------Contact Me Section----------*/

#contact-btn{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 200px;
	background-color: #F4F7FF;
	margin: 20px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
}
.c-b-heading{
	font-size: 2rem;
	color:#1E1E1E;
	font-family: calibri;
	margin: 10px;
	padding: 5px;
	letter-spacing: 4px;
	border-bottom: 2px solid black;
	
}
#contact-btn button{
	color:#FFFFFF;
	font-size: 1rem;
	font-family: calibri;
	width:150px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}
#contact-btn button:hover{
	background-color: lightgray;
	color:black;
	transition: all ease 0.5s;
	font-weight: bold;
}

html { scroll-behavior: smooth;} 

#contact-form{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#contact-form form{
	display: flex;
	width: 70%;
	height: 60vh;
	background-color: #1A1A1A;
	box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.01)
}
 
.contact-left{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255,255,255,0.08);
}
.contact-right button{
	width: 100%;
	height: 50px;
	background-color: darkgray;
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:#1B1B1B;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
 
}
.c-l-heading{
	font-family: calibri;
	color:#FFFFFF;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
	
}
.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: calibri;
	
}
.f-name font,.f-email font{
	color:#BFBFBF;
	font-size: 22px;
}
.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color:transparent;
	border-bottom: 1px solid #929292;
	color:#FFFFFF;
	margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
	border-bottom: 1px solid darkgray;
	transition: all ease 0.5s;
}.message font{
	font-size: 18px;
	color:#4E4E4E;
	font-family: calibri;
	
}
.message{
	margin: 20px;
}
.contact-right textarea{
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
}
.contact-right textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
}
.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}